{% extends 'base.html.twig' %}

{% block title %}Platform{% endblock %}

{% block hero %}
    <twig:Molecules:Hero label="{{ platform.name }}" />
{% endblock %}

{% block body %}

    {# Tableau 1 #}
    {% set tableContentArray = [
        ['Platform Status', platform.status],
        ['Git Repository', platform.gitRepositoryURL],
        ['Git Branch', platform.gitRepositoryBranch],
    ] %}
    {% set tableHeader = ['Site', 'Install Profile'] %}
    {% set platformSitesArray = [ [{'platformSites': platform.sites}]] %}

    <twig:Utils:Section :withGrid="false">
        <div class="space-y-10">
            <twig:Atoms:Table :tableCells="tableContentArray" :withCheckbox="false" :withTasks="false" />
            <twig:Atoms:Table :tableCells="platformSitesArray" :tableHeader="tableHeader" :withCheckbox="false" :withTasks="false" />

            <div>
                <twig:Atoms:RichText headline="Available tasks" headlineTag="h3" />

                <ul class="py-2 max-h-[260px] overflow-auto bg-white w-1/2">
                    {% for item in availableTasks %}
                        {% set buttonTag = item.url is defined and item.url is not empty ? 'a' : 'button' %}
                        <li class="px-4 py-3 hover:bg-neutral-50 transition list-item">
                            <{{buttonTag}} {% if item.url is defined and item.url is not empty %} href="{{ item.url }}" {% endif %}>
                                <twig:Atoms:LabelIcon label="{{ item.label }}"  icon="{{ item.icon }}" />
                            </{{buttonTag}}>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </twig:Utils:Section>


{% endblock %}
