{% extends 'base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block header %}{% endblock %}

{% block body_classes %} bg-brand-tertiary{% endblock %}

{% block body %}
    {% set formContentArray = [] %}

    {% set formContent %}
        <div class="space-y-10">
            <twig:Atoms:Button label="back" :buttonIcon="true" url="{{path('app_sites')}}" icon="arrow-back" rounded="true" />

            <twig:Molecules:FormContainer formTitle="Edit site">
                {# {{ form(form) }} #}
                {{ form_start(form, { attr: { id: 'site_edit_form' } }) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.domain) }}
                    {{ form_row(form.aliases) }}
                    <label for="aliases" class="block text-brand-secondary text-xs uppercase font-bold mb-2 mt-6"> Aliases</label>
                    <div class="tag-input-container px-8 py-3 bg-white rounded-3xl border-2 border-neutral-100 text-base leading-7 text-secondary-900 w-full flex flex-wrap gap-2">
                        <input id="aliases" type="text" class="tag-input border-0 outline-none flex-1" placeholder="Add a tag and press Enter">
                        <div id="tags" class="flex items-center gap-2 flex-wrap"></div>
                    </div>
                {{ form_end(form) }}
            </twig:Molecules:FormContainer>
        </div>
    {% endset %}

    {% set formContentArray = formContentArray|merge([formContent]) %}

    <twig:Utils:Section :withGrid="false">
        <div class="flex justify-center mb-10">
            <twig:Atoms:Logo logo="logo-vertical" url="{{ path('app_homepage') }}" classes="h-[92px] w-auto" />
        </div>

        <twig:Utils:Grid :items="formContentArray" columns='1' columnsWidth="8" />
    </twig:Utils:Section>
{% endblock %}

{% block footer %}{% endblock %}

