{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block hero %}
    <twig:Molecules:Hero label="{{ site.name }}" />
{% endblock %}

{% block body %}
   {% set siteUrl %}
        <a href="{{ site.domain }}" target="_blank">{{ site.domain }}</a>
    {% endset %}
    {% set domainAliases %}
        <ul>
            {% for alias in site.aliases %}
                <li>{{ alias.domain }}</li>
            {% endfor %}
        </ul>
    {% endset %}
    {% set tableContentArray = [
        ['Site', siteUrl],
        ['Platform', site.platform.name],
        ['Install profile', site.installProfile.name],
        ['Language', site.language],
        ['Status', site.status],
        ['Domain aliases', domainAliases],
    ] %}
    <twig:Utils:Section :withGrid="false">
        <div class="space-y-10">
            <twig:Atoms:Table :tableCells="tableContentArray" :withCheckbox="false" :withTasks="false" />

            <div>
                <twig:Atoms:RichText headline="Available tasks" headlineTag="h3" />

                <ul class="py-2 bg-gray-100 w-1/2">
                    {% for item in availableTasks %}
                        {% set buttonTag = item.url is defined and item.url is not empty ? 'a' : 'button' %}
                        <li class="px-4 py-3 hover:bg-neutral-50 transition list-item">
                            <{{buttonTag}} {% if item.url is defined and item.url is not empty %} href="{{ item.url }}" {% endif %}>
                                <twig:Atoms:LabelIcon label="{{ item.label }}"  icon="{{ item.icon }}" />
                            </{{buttonTag}}>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </twig:Utils:Section>

{% endblock %}
 