{% set classes = 'header bg-white lg:bg-brand-primary p-6 lg:px-16 lg:py-10 flex items-center justify-between lg:border-b-0 border-b-2 border-brand-secondary' %}
{% set menuItems = [
    { 'label': 'Platforms', 'url': path('app_platforms') },
    { 'label': 'Sites', 'url': path('app_sites') },
    { 'label': 'Tasks', 'url': path('app_tasks') },
    { 'label': 'Administration', 'url': path('app_admin') },
]  %}

<header {{ attributes.defaults({class: classes, role: 'banner'}) }} x-data="{ open: false }">
    <twig:Atoms:Logo logo="logo" url="{{ path('app_homepage') }}" />
    <div x-show="open" x-transition:enter="duration-100" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="main-nav drilldown hidden z-40 lg:!flex absolute lg:top-0 top-[90px] lg:-left-10 w-full lg:w-fit left-0 lg:py-0 bg-white lg:bg-transparent lg:static h-[calc(100vh-82px)] lg:h-auto max-h-[calc(100vh-82px)] lg:max-h-none overflow-auto lg:overflow-visible" x-description="Off-canvas menu for mobile, show/hide based on off-canvas menu state." x-ref="dialog" aria-modal="true" @click.away="open = false" :class="{'!block': open }">
        <nav role="navigation">
            <twig:Molecules:Menu menuItems="{{menuItems}}" variant="headerNav" />
        </nav>
    </div>
    <div class="flex items-center gap-4">
        {# <twig:Atoms:Button label="help" icon="help" buttonIcon="true" /> #}
        <div class="lg:block hidden">
            {% if app.user %}
                <twig:Atoms:Button label="My account" url="{{ path('app_profile') }}" icon="user" variant="tertiary" />
            {% else %}
                <twig:Atoms:Button label="Login" url="{{ path('app_login') }}" icon="user" variant="tertiary" />
            {% endif %}
        </div>
    	<div class="lg:hidden flex items-center gap-4">
            <twig:Atoms:Button label="user" icon="user" buttonIcon="true" iconSize="xlarge" />
            <twig:Molecules:Hamburger openClass='open' />
        </div>
    </div>
</header>
